<div class="my-36 ">


    <ul>
    


        <li class="container mx-auto max-w-xs  bg-green-950 text-white text-center py-3">
            <a [routerLink]="['/flight-booking']"> Flight Booking</a>

        </li>
        <br>

        <li class="container mx-auto max-w-xs  bg-green-950 text-white text-center py-3">
            <a [routerLink]="['/bus-booking']"> Bus Booking</a>

        </li>
        <br>


        <li class="container mx-auto max-w-xs  bg-green-950 text-white text-center py-3">
            <a [routerLink]="['/car-booking']"> Car Booking</a>

        </li>
        <br>

        <li class="container mx-auto max-w-xs  bg-green-950 text-white text-center py-3">
            <a [routerLink]="['/hotel-booking']">Hotel Booking</a>

        </li>
    </ul>


</div>